In [ ]:
import pandas as pd
import numpy as np

In [ ]:
file = pd.read_csv('data_hcm_menu.csv')

In [ ]:
file.shape

(4925721, 16)

In [ ]:
file.columns

Index(['RestaurantID', 'dish_type_id', 'dish_type_name', 'dish_id',
       'dish_name', 'dish_description', 'dish_price_value', 'dish_total_like',
       'dish_is_available', 'dish_option_id', 'dish_option_name',
       'option_min_select', 'option_max_select', 'item_id', 'item_name',
       'item_price'],
      dtype='object')

In [ ]:
file = file.dropna(subset = ['dish_type_id', 'dish_type_name', 'dish_id',
       'dish_name', 'dish_description', 'dish_price_value', 'dish_total_like',
       'dish_is_available', 'dish_option_id', 'dish_option_name',
       'option_min_select', 'option_max_select', 'item_id', 'item_name',
       'item_price'], how = 'all')

In [ ]:
file.shape

(4885549, 16)

In [ ]:
menu_df_unique = [list(y) for y in set([tuple(x) for x in file[['RestaurantID', 'dish_type_id', 'dish_type_name']].values])]
menu_df_list = [(x[0], x[1], x[2]) for x in menu_df_unique]
menu_df = pd.DataFrame(menu_df_list, columns=['RestaurantID','dish_type_id', 'dish_type_name'])
menu_df.head()

   RestaurantID  dish_type_id             dish_type_name
0       1027581     1151942.0  BÚN XÌ DẦU TRỘN siêu ngon
1        766822      373612.0                    Nước ép
2        710709      331070.0            Trà nguyên chất
3        784952      525394.0                   Món canh
4        723637     1015041.0                        Rau

In [ ]:
menu_dish_df_unique = [list(y) for y in set([tuple(x) for x in file[['RestaurantID', 'dish_type_id', 'dish_id', 'dish_name', 'dish_description', 'dish_price_value', 'dish_total_like', 'dish_is_available']].values])]
menu_dish_df_list = [(x[0], x[1], x[2], x[3], x[4], x[5], x[6], x[7]) for x in menu_dish_df_unique]
menu_dish_df = pd.DataFrame(menu_dish_df_list, columns = ['RestaurantID', 'dish_type_id', 'dish_id', 'dish_name', 'dish_description', 'dish_price_value', 'dish_total_like', 'dish_is_available'])
menu_dish_df.head()

,RestaurantID,dish_type_id,dish_id,dish_name,dish_description,dish_price_value,dish_total_like,dish_is_available
0,1000037523,2414345.0,30585220.0,Trà sữa thái xanh,NaN,20000.0,0,True
1,1107967,2172008.0,23947455.0,Trà sữa trân châu,NaN,29000.0,2,True
2,1000053820,3832186.0,82403370.0,Cà rốt,NaN,20000.0,0,True
3,794555,545573.0,6173116.0,Bánh bao bột,NaN,9000.0,0,True
4,1140752,3982800.0,85872118.0,Trà đào,Trà đào có miếng đào,20000.0,0,True

In [ ]:
menu_dish_option_unique = [list(y) for y in set([tuple(x) for x in file[['RestaurantID', 'dish_type_id', 'dish_id','dish_option_id', 'dish_option_name', 'option_min_select', 'option_max_select']].values])]
menu_dish_option_list = [(x[0], x[1], x[2], x[3], x[4], x[5], x[6]) for x in menu_dish_option_unique]
menu_dish_option_df = pd.DataFrame(menu_dish_option_list, columns = ['RestaurantID', 'dish_type_id', 'dish_id','dish_option_id', 'dish_option_name', 'option_min_select', 'option_max_select'])
menu_dish_option_df.head()

In [ ]:
menu_dish_option_item_df = [list(y) for y in set([tuple(x) for x in file[['RestaurantID', 'dish_type_id', 'dish_id', 'dish_option_id', 'item_id', 'item_name', 'item_price']].values])]
menu_dish_option_item_list = [(x[0], x[1], x[2], x[3], x[4], x[5], x[6]) for x in menu_dish_option_item_df]
menu_dish_option_item_df = pd.DataFrame(menu_dish_option_item_list, columns = ['RestaurantID', 'dish_type_id', 'dish_id', 'dish_option_id', 'item_id', 'item_name', 'item_price'])
menu_dish_option_item_df.head()

,RestaurantID,dish_type_id,dish_id,dish_option_id,item_id,item_name,item_price
0,1146074,4354780.0,95191945.0,678793.0,4278174.0,Khăn lạnh,2000.0
1,182755,648079.0,1476203.0,16810.0,81602.0,Khô,0.0
2,1138429,3889113.0,83726151.0,650881.0,3981757.0,Green Tea,8000.0
3,1000050185,3307149.0,63326596.0,NaN,NaN,NaN,NaN
4,1056498,1372049.0,29126442.0,718374.0,4650796.0,Trái Vải,5000.0